
.form-container{
    height: 500px;
    width: 250px;
    background-color: tomato;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 50px;
    top: 45%;
    z-index: 100;
}

.header{
    text-align: center;
}

.inputBox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.toggleBtn{
    /* position: absolute; */
    position: absolute;
    top: 10px;
    right: 10px;
}
.toggleBtn{
    display:inline-block;
    padding:0.2em .2em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:black;
    text-align:center;
    transition: all 0.15s;
}
.toggleBtn:hover{
    color:rgb(143, 2, 2);
    border-color:rgb(143, 2, 2);
}
    @media all and (max-width:30em){
    button{
    display:block;
    margin:0.4em auto;
    }
}
